.input {
	margin-left: 1.5rem;
	border-radius: 0.75rem;
	border: 1px solid #bdbdbd;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
	padding: 1.15rem;
	padding-left: 3.5rem;
	padding-right: 4rem;
	font-family: Noto Sans;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: normal;
}

.input::placeholder {
	color: #bdbdbd;
	font-family: Noto Sans;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: normal;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
}

.container i {
	position: absolute;
	left: 2.75rem;
	color: #bdbdbd;
}
